<?xml version="1.0" encoding="UTF-8"?>
<configuration>

   <appender name="File1" class="ch.qos.logback.core.FileAppender">
	   <file>pars2monitor.log</file>
	   <append>true</append>
	   <encoder>
	      <pattern>%d{HH:mm:ss.SSS}  %-4relative [%thread] %-5level %logger{0}.%M - %msg%n</pattern>
	   </encoder>
   </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} %logger{100}.%M - %msg%n
            </Pattern>
        </layout>
    </appender>
   
    
    <logger name="it.prisma.pars2monitor.controller" level="ALL"/>
    <logger name="it.istruzione.iam" level="ALL" />
    
    	<!-- 3rdparty Loggers -->
	
	
	<logger name="org.springframework.core" level="INFO" />
		
	<logger name="org.springframework.beans" level="INFO" />
		
	<logger name="org.springframework.context" level="INFO" />
	
	<logger name="org.springframework.web" level="INFO" />
	
	<logger name="org.springframework.security" level="INFO" />
	
	<logger name="org.springframework.web.client" level="DEBUG" />
	
	<logger name="com.fasterxml.jackson" level="DEBUG"/>
	
	<logger name="org.apache.jasper.compiler" level="INFO" />
 	
 
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="File1"/>
    </root>
    
</configuration>
